@model List<VehiclesTrackingSystem.Models.Route>

<!DOCTYPE html>
<html>
<head>
    <title>Перелік шляхів</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/Drivers/Page">Водії</a>
        <a href="/Vehicles/Page">Автомобілі</a>
        <a href="/Routes/Page">Шляхи</a>
        <a href="/Transportations/Page/user/@ViewData["UserId"]">Перевезення</a>
    </div>

    <h1>Перелік шляхів</h1>

    <table id="routesTable">
        <thead>
            <tr>
                <th>Номер шляху</th>
                <th>Початкова точка</th>
                <th>Кінцева точка</th>
                <th>Дистанція</th>
                <th>Приблизний час поїздки</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var route in Model)
            {
                <tr id="@route.RouteId" ondblclick="deleteRoute(@route.RouteId)">
                    <td>@route.RouteId</td>
                    <td>@route.StartPoint</td>
                    <td>@route.EndPoint</td>
                    <td>@route.Distance</td>
                    <td>@route.EstimatedTime</td>
                </tr>
            }
        </tbody>
    </table>

    <button onclick="location.href='/Routes/AddRoute'">Додати новий маршрут</button>

    <script>
        function deleteRoute(routeId) {
            var confirmation = confirm("Ви впевнені, що бажаєте видалити цей шлях?");
            if (confirmation) {
                fetch('/Routes/DeleteRoute/' + routeId, {
                    method: 'DELETE'
                })
                    .then(response => {
                        if (response.ok) {
                            document.getElementById(routeId).remove();
                        } else {
                            alert('Помилка видалення шляху.' + response.status)
                        }
                    })
                    .catch(error => console.error('Помилка:', error));
            }
        }
    </script>
</body>
</html>
